/* You can add global styles to this file, and also import other style files */
.field{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input{
  height: 30px;
  outline: none;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 300px;
  margin: 0 auto;
}
.error-field {
  border-color: red;
}
.error {
  color: red
}
#auto-resize-textarea {
  width: 300px;
  height: 30px;
  overflow: hidden;
  resize: none;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 4px;
  box-sizing: border-box;
}

